# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Azure Functions local settings
local.settings.json
__azurite_db_*
__blobstorage__/
__queuestorage__/
__tablestorage__/
AzuriteConfig
debug.log
.venv/

bin/
obj/

# Environment files
*.env
*.env.local

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.hypothesis/
.pytest_cache/

# IDE / editor configs

.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/


# Backup & temp files
*.bak
*.tmp
*.swp
*~

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Publish artifacts
publish/

.python_packages

# personalized files
*.personal